doctype html(lang='en')
head
  meta(charset='utf-8')
  link(href='/css/main.css' rel='stylesheet')
  title Bookworm | #{title}
  
  body
    div
      // load navbar.jade
      include navbar

      // content block
      block content

      // footer
      p Written by Kenneth Bidstrup

    