nav
  button Click here
  div
    a(href='/')
      i Blog
    div
      if !currentUser
        a(href='register') Sign Up
      a(href='about') About
      a(href='contact') Contact
      a(href='profile') My Profile
      
    if currentUser
      a(href='profile') My Profile
      div
        a(href='/logout') Log out
    else  
      a(href='login') Login